In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
!pwd

/Users/dillonp/school/ai_for_good_final/etl

In [2]:
df = pd.DataFrame()
# Load all CSV files in the specified directory
directory = '../data/'
cnt = 0
for csv in os.listdir(directory):
    cnt += 1
    if csv.endswith('.csv'):
        # print(f'Loading {csv}')
        # Read the CSV file into a DataFrame
        df_temp = pd.read_csv(os.path.join(directory, csv))
        # Append the DataFrame to the main DataFrame
        df = pd.concat([df, df_temp], ignore_index=True)
        print(f'Loaded {df_temp.shape[0]} rows from {csv} --> {cnt}')

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 82457 rows from 2011_us.csv --> 1

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 83356 rows from 2013_us.csv --> 3

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18,23,25,26,27,28,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 91908 rows from 2005_us.csv --> 4

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 81671 rows from 2009_us.csv --> 5

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 81745 rows from 2017_us.csv --> 6

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 78001 rows from 2021_us.csv --> 7

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 82866 rows from 2015_us.csv --> 8

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 88984 rows from 2007_us.csv --> 9

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 80762 rows from 2019_us.csv --> 10

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 77964 rows from 2023_us.csv --> 11

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (10,15,18,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 82124 rows from 2010_us.csv --> 12

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 82842 rows from 2012_us.csv --> 13

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 78488 rows from 2020_us.csv --> 14

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18,23,25,26,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 92159 rows from 2004_us.csv --> 15

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 81602 rows from 2016_us.csv --> 16

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 86867 rows from 2008_us.csv --> 17

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 79687 rows from 2022_us.csv --> 18

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 83590 rows from 2014_us.csv --> 19

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 81748 rows from 2018_us.csv --> 20

/var/folders/sl/93mkvz2541x52x3gyyqn3klh0000gn/T/ipykernel_7370/3934214452.py:10: DtypeWarning: Columns (15,18,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(os.path.join(directory, csv))

Loaded 90845 rows from 2006_us.csv --> 21

In [3]:
df.head()

,1. YEAR,2. TRIFD,3. FRS ID,4. FACILITY NAME,5. STREET ADDRESS,6. CITY,7. COUNTY,8. ST,9. ZIP,10. BIA,...,113. 8.2 - ENERGY RECOVER ON,114. 8.3 - ENERGY RECOVER OF,115. 8.4 - RECYCLING ON SITE,116. 8.5 - RECYCLING OFF SIT,117. 8.6 - TREATMENT ON SITE,118. 8.7 - TREATMENT OFF SITE,119. PRODUCTION WSTE (8.1-8.7),120. 8.8 - ONE-TIME RELEASE,121. PROD_RATIO_OR_ ACTIVITY,122. 8.9 - PRODUCTION RATIO
0,2011,72956BKRTCI40LE,1.100005e+11,BEKAERT CORP,1881 BEKAERT DR,VAN BUREN,CRAWFORD,AR,72956,NaN,...,0.0,0.0,0.0,2783728.0,0.0,0.0,2817115.5,NaN,NaN,0.93
1,2011,43465WLBRD30610,1.100004e+11,MSC WALBRIDGE COATINGS INC,30610 E BROADWAY ST,WALBRIDGE,WOOD,OH,43465,NaN,...,0.0,0.0,10070.0,36937.0,0.0,0.0,52987.0,NaN,NaN,0.91
2,2011,50588BPNCXFLIND,1.100006e+11,TYSON FRESH MEATS INC,1009 RICHLAND ST.,STORM LAKE,BUENA VISTA,IA,50588,NaN,...,0.0,0.0,0.0,0.0,0.0,42793.0,73103.0,NaN,NaN,1.04
3,2011,15010BRGHT51045,1.100003e+11,BRIGHTON ELECTRIC STEEL CASTING CO,510 45TH ST,BEAVER FALLS,BEAVER,PA,15010,NaN,...,0.0,0.0,14818.0,0.0,0.0,0.0,15574.0,NaN,NaN,0.76
4,2011,22701QRLSP15427,1.100003e+11,QUARLES PETROLEUM INC. CULPEPER BULK PLANT,15427 BRANDY RD,CULPEPER,CULPEPER,VA,22701,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [4]:
data = df.copy()

In [5]:
new_cols = [c.split('.',1)[1].strip() for c in data.columns]
data.columns = new_cols
# df.head()

In [6]:
coi = [
    'YEAR', 
    'ST', 
    'ZIP', 
    'CHEMICAL', 
    'CARCINOGEN',
    'LATITUDE',
    'LONGITUDE',
    'FEDERAL FACILITY',
    'INDUSTRY SECTOR',
    'UNIT OF MEASURE',
    'TOTAL RELEASES'
    ]

In [7]:
df_ = data.loc[:, coi]
# df_.info(show_counts=True)

In [3]:
candidates = pd.read_csv('../candidate/ledb_candidatelevel.csv')
candidates = candidates[(candidates.year >= 2004) & (candidates.winner == 'win') & (candidates.office_consolidated.isin(['County Executive','County Legislature','City Council']))]

candidates.head(2)

,ledb_candid,full_name,firstname,lastname,fips,geo_name,state_abb,office_consolidated,year,month,district,contest,votes,vote_share,n_winners,winner,incumbent,contributor.cfscore,bonica.cid,prob_democrat,prob_republican,pid_est,prob_female,prob_male,gender_est,prob_black,prob_white,prob_hispanic,prob_asian,prob_other,race_est,ballotpedia_url
8,7790,toni preckwinkle,toni,preckwinkle,17031,cook,IL,County Executive,2018,11.0,NaN,17031_2018_11_cook_IL_County Executive_NA_1,1355407.0,1.0,1,win,1.0,-0.7,5.000004e+15,1.0,0.0,D,1.0,0.0,F,0.23,0.5,0.1,0.16,0.0,caucasian,https://ballotpedia.org/Toni_Preckwinkle
20,7790,toni preckwinkle,toni,preckwinkle,17031,cook,IL,County Executive,2014,11.0,NaN,17031_2014_11_cook_IL_County Executive_NA_1,1072886.0,1.0,1,win,1.0,-0.7,5.000004e+15,1.0,0.0,D,1.0,0.0,F,0.23,0.5,0.1,0.16,0.0,caucasian,https://ballotpedia.org/Toni_Preckwinkle

In [4]:
coi = [
    'year',
    'state_abb',
    'fips',
    'pid_est',
    'office_consolidated',
]

In [5]:
cans = candidates.loc[:, coi].copy()
cans['fips_int'] = pd.to_numeric(cans['fips'], errors='coerce')

In [6]:
cans.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 33759 entries, 8 to 126573
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 33759 non-null  int64
 1   state_abb            33759 non-null  object
 2   fips                 33759 non-null  object
 3   pid_est              32017 non-null  object
 4   office_consolidated  33759 non-null  object
 5   fips_int             33759 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.8+ MB

In [36]:
zip_fips = pd.read_csv('../ZIP to FIPS.csv')
zip_fips.head()

,ZIP,ZIP_STRING_LEADING_ZERO,ZIP_STRING,FIPS,FIPS_STRING,STATE,CNTY_NAME,_BATCH_ID_,_BATCH_LAST_RUN_
0,0,STRING,STRING,0.0,STRING,STRING,STRING,57.0,2024-03-13 21:34:03
1,36003,36003,36003,1001.0,1001,AL,Autauga,57.0,2024-03-13 21:34:03
2,36006,36006,36006,1001.0,1001,AL,Autauga,57.0,2024-03-13 21:34:03
3,36008,36008,36008,1001.0,1001,AL,Autauga,57.0,2024-03-13 21:34:03
4,36022,36022,36022,1001.0,1001,AL,Autauga,57.0,2024-03-13 21:34:03

In [38]:
zip_fips.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57608 entries, 0 to 57607
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ZIP                      57608 non-null  int64
 1   ZIP_STRING_LEADING_ZERO  57608 non-null  object
 2   ZIP_STRING               57608 non-null  object
 3   FIPS                     57564 non-null  float64
 4   FIPS_STRING              57564 non-null  object
 5   STATE                    57579 non-null  object
 6   CNTY_NAME                56783 non-null  object
 7   _BATCH_ID_               57608 non-null  float64
 8   _BATCH_LAST_RUN_         57608 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 4.0+ MB

In [ ]:
cans_zip = pd.merge(cans, zip_fips, how='left', left_on='fips_int', right_on='FIPS')
cans_zip = cans_zip.drop(columns=['FIPS'])
cans_zip.head()

,year,state_abb,fips,pid_est,office_consolidated,fips_int,ZIP,ZIP_STRING_LEADING_ZERO,ZIP_STRING,FIPS_STRING,STATE,CNTY_NAME,_BATCH_ID_,_BATCH_LAST_RUN_
0,2018,IL,17031,D,County Executive,17031,60004.0,60004,60004,17031,IL,Cook,57.0,2024-03-13 21:34:03
1,2018,IL,17031,D,County Executive,17031,60005.0,60005,60005,17031,IL,Cook,57.0,2024-03-13 21:34:03
2,2018,IL,17031,D,County Executive,17031,60006.0,60006,60006,17031,IL,Cook,57.0,2024-03-13 21:34:03
3,2018,IL,17031,D,County Executive,17031,60007.0,60007,60007,17031,IL,Cook,57.0,2024-03-13 21:34:03
4,2018,IL,17031,D,County Executive,17031,60008.0,60008,60008,17031,IL,Cook,57.0,2024-03-13 21:34:03

: